body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.description {
    font-size: 18px;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.8;
}